/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Change font-family as needed */
}

/* Welcome Page Styles */
.Welcomepage {
    width: 100%;
    height: 800px;
    padding: 10px;
    background: #EFF9F0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

.Header {
    gap: 200px;
    height: 108px;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Logo {
    height: 62px;
    padding: 10px;
}

.Welcometext {
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
}

.Name {
    color: black;
    font-size: 24px;
    font-family: Josefin Sans;
    font-weight: 600;
    word-wrap: break-word;
}

.Quote {
    color: #6D6D6D;
    font-size: 16px;
    font-family: Josefin Sans;
    font-weight: 400;
    word-wrap: break-word;
}

.Activebutton,
.Nonselectedbutton {
    width: 150px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    cursor: pointer;
}

.Activebutton {
    background: #87CC83;
}

.Nonselectedbutton {
    background: #636363;
}

.Activetext,
.Nonselectedtext {
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.Profiledropdown {
    height: 72px;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
    cursor: pointer;
}

.Profileimage {
    padding: 10px;
}

.Arrow {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.Stroke1 {
    width: 12.83px;
    height: 4.96px;
    border: 1.50px black solid;
}

.Mealbody {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.Weekplan {
    width: 80%;
    height: 186px;
    padding-top: 46px;
    padding-bottom: 46px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.Weektext {
    color: black;
    font-size: 24px;
    font-family: Josefin Sans;
    font-weight: 700;
    word-wrap: break-word;
    text-align: left;
    padding-right: 1100px;
    width: 200px;
}

.Days {
    width: 100%;
    height: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    gap: 51px;
    display: flex;
}

.Mandag{
    color: black;
    font-size: 42px;
    font-family: Josefin Sans;
    font-weight: 600;
    word-wrap: break-word;
    cursor: pointer;

}
.Tirsdag,
.Onsdag,
.Torsdag,
.Fredag,
.LRdag,
.SNdag {
    color: #636363;
    font-size: 42px;
    font-family: Josefin Sans;
    font-weight: 600;
    word-wrap: break-word;
    cursor: pointer;
}

.Lines {
    width: 100%;
    height: 16px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Mondayline,
.Tuesdayline,
.Wendsdayline,
.ThursdayLine,
.Fridayline,
.Saturdayline,
.Sundayline {
    color: #636363;
    font-size: 38px;
    font-family: Dongle;
    font-weight: 400;
    word-wrap: break-word;
}

.Dividerline {
    color: #636363;
    font-size: 38px;
    font-family: Dongle;
    font-weight: 400;
    word-wrap: break-word;
}

.Mealdivs {
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.Mealbox {
    height: 351px;
    padding: 10px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    gap: 20px;
    display: flex;
}

.Mealimage {
    align-self: stretch;
    padding: 10px;
}

.Mealname {
    align-self: stretch;
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: Josefin Sans;
    font-weight: 600;
    word-wrap: break-word;
}

.Mealrow {
    align-self: stretch;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.Caloriestext {
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: Josefin Sans;
    font-weight: 600;
    word-wrap: break-word;
}

.Mealbutton {
    width: 119px;
    height: 34px;
    padding: 10px;
    background: #87CC83;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.Mealbuttontext {
    color: white;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}


.MealText{
    align-self: stretch;
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: Josefin Sans;
    font-weight: 600;
    word-wrap: break-word;
}

.active{
    color: #87CC83;

}

.Selected {
    color: black;
}

.Unselected {
    color: #636363;
}

.ButtonGroup{
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}



.action {
    position: fixed;
    top: 20px;
    right: 30px;
  }
  
  .action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .action .menu {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  
  .action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
  }
  
  .action .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
  }
  
  .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.5em;
  }
  
  .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
  }
  
  .action .menu ul li {
    list-style: none;
    padding: 16px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 10px;

  }
  
  .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover img {
    opacity: 1;
  }
  
  .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
  }
  
  .action .menu ul li:hover a{
    color: #87cc83;
  }

  .action .menu ul li:hover a:visited{
    color: #87cc83;
  }

  a:hover {
    color: #87cc83 !important;
 }
  
  a:link, a:visited{
    text-decoration: none;
    color: #555;
    gap: 20px;
  }
  