.Loginside {
    width: 1280px;
    height: 832px;
    padding: 10px;
    background: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.Uibackground {
    width: 1206px;
    height: 780px;
    padding: 10px;
    background: #FAFFFA;
    border-radius: 20px;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.Leftbox {
    flex: 1 1 0;
    align-self: stretch;
    padding: 10px;
    background: #EFF9F0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.Rightbox {
    flex: 1 1 0;
    align-self: stretch;
    padding: 10px;
    background: #FAFAFA;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.Logo {
    width: 106px;
    height: 123px;
}

.Header {
    width: 574px;
    height: 143px;
    color: black;
    font-size: 50px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
}

.Img {
    width: 517px;
    height: 342px;
}

.MinkostplanCom {
    color: #79D779;
    font-size: 30px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
}

.Emaillabel,
.Passwordlabel,
.Forgotbutton,
.Divider,
.Createaccountlabel span {
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.Forgotbutton {
    text-align: right;
    color: rgba(121, 215, 121, 0.70);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
}

.Loginbutton {
    width: 349px;
    height: 64px;
    padding-left: 82px;
    padding-right: 82px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #263136;
    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.Loginlabel {
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
}

.Createaccountlabel span {
    color: rgba(121, 215, 121, 0.70);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
}
