

.josefin-sans{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


body{
    background-color: #E5EBF0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Uibackground {
    width: 1206px;
    height: 600px;
    background: #FBFBFB;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.Leftbox {
    flex: 1 1 0;
    align-self: stretch;
    padding: 10px;
    background: #EFF9F0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-radius: 20px 0px 0px 20px;
    margin: 0px;
}

.Rightbox {
    flex: 1 1 0;
    align-self: stretch;
    padding: 10px;
    background: #FAFAFA;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.Logo {
    width: 123px;
    height: 123px;
}

.Header {
    width: 574px;
    height: 143px;
    color: black;
    font-size: 50px;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
}

.Img {
    width: 517px;
    height: 342px;
}



.Emaillabel,
.Passwordlabel,
.Forgotbutton{
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-family: Joselin Sans, serif;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 20px;

}

.Createaccountlabel span {
margin: 0;
}

.NewUser{
    display: flex;
    flex-direction: row;
    font-family: Josefin Sans, serif;
    gap: 10px;
}

.Forgotbutton {
    text-align: right;
    color: rgba(121, 215, 121, 0.70);
    font-size: 15px;
    font-family: Joselin Sans, serif;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
}

.CreateUserButton{
    color: #A0E2A0;
}

.Button {
    width: 250px;
    height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #263136;
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    cursor: pointer;
}

.ButtonLabel {
    color: white;
    font-size: 15px;
    font-family: Josefin Sans, serif;
    font-weight: 700;
    word-wrap: break-word;
}

.Createaccountlabel span {
    color: rgba(121, 215, 121, 0.70);
    font-size: 20px;
    font-family: Josefin sans, serif;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word;
}

.classinput{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 10px;
}
.input{
    width: 240px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid #263136;

}

.text{
    color: #8f8f8f;
    font-family: Josefin sans, serif;
}

.outer{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.Form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.Step3{
    gap: 10px;
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
 
}

.Step2{
    gap: 10px;
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

.Step1{
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.Step4{
    gap: 10px;
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}



