body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #444;
}


.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.back-button:hover {
    background-color: #0056b3;
}


ul {
    list-style-type: none;
    padding: 0;
}

.recipe-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.recipe-item div {
    margin-bottom: 10px;
}

.recipe-item label {
    font-weight: bold;
    margin-right: 5px;
}

.recipe-item span {
    display: inline-block;
    margin-bottom: 5px;
}


.recipe-item .EditRecipeInfo,
.recipe-item .DeleteRecipe,
.recipe-item .ActivateRecipe {
    display: inline-block;
    margin-right: 10px;
}

.recipe-item a {
    color: #007bff;
    text-decoration: none;
}

.recipe-item a:hover {
    text-decoration: underline;
}


.message {
    text-align: center;
    margin-top: 20px;
}

.error-message {
    color: #ff0000;
}

.success-message {
    color: #00cc00;
}


@media (max-width: 600px) {
    .recipe-item {
        padding: 10px;
    }

    .recipe-item div {
        font-size: 1em;
    }

    .recipe-item span {
        font-size: 0.9em;
    }

    .recipe-item .EditUserInfo,
    .recipe-item .DeleteRecipe,
    .recipe-item .ActivateRecipe {
        display: block;
        margin-bottom: 10px;
    }
}