<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/adminPage.css">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c0582023bf.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div th:include="adminLayout :: header2"></div>

<div class="Adminrecipepage">
    <div class="Middleframe">
        <div class="Rightframe">

            <div class="Recipeheaderframe">
            <div class="OpretEnOpskriftText">Tilføj en ingrediens!</div>
            </div>

                <form th:action="@{/opretIngrediens}" action="#" th:object="${ingredient}" method="post">
                    <div class="FormInput">
                            <div class="RowFrame">
                                <label for="name">Ingrediens Navn:</label>
                                <input type="text" id="name" th:field="*{name}" required/>
                            </div>
                            <div class="RowFrame">
                                <label for="protein">Protein (g/100g):</label>
                                <input type="number" id="protein" th:field="*{proteinPerHundredGrams}" step="0.5" required />
                            </div>
                            <div class="RowFrame">
                                <label for="fat">Fedt (g/100g):</label>
                                <input type="number" id="fat" th:field="*{fatPerHundredGrams}" step="0.5" required />
                            </div>
                            <div class="RowFrame">
                                <label for="carbohydrates">Kulhydrater (g/100g):</label>
                                <input type="number" id="carbohydrates" th:field="*{carbohydratesPerHundredGrams}" step="0.5" required />
                            </div>
                            <div class="RowFrame">
                                <label for="calories">Kalorier (kcal/100g):</label>
                                <input type="number" id="calories" th:field="*{caloriesPerHundredGrams}" step="0.5" required />
                            </div>
                                <button type="submit" class="DefaultButton">Tilføj ingrediens</button>
                            <div th:if="${createIngredientSuccess} or ${createIngredientError}" class="message">
                                <p th:if="${createIngredientError}" th:text="${createIngredientError}" class="error-message"></p>
                                <p th:if="${createIngredientSuccess}" th:text="${createIngredientSuccess}" class="success-message"></p>
                            </div>
                        </div>
                </form>
        </div>
    </div>
</div>
<script src="/JS/ingredientList.js" defer></script>
</body>
</html>


