<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/adminPage.css">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c0582023bf.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="Adminrecipepage">
    <div class="Topframe">
        <div class="Logoframe">
            <img class="Logo" src="Images/PNGS/minkostplan-logo.png" />
        </div>
            <div class="AdminSide">ADMIN SIDE</div>
        
    </div>
    <div class="Middleframe">
        <div class="Leftframe">

                <a href="/admin" class="active LeftFrameButton">
                    <i class="fa-solid fa-circle-plus fa-xl" style="color: #ffffff;"></i>
                    <div class="LeftFrameText">Tilføj ny opskrift</div>
                </a>

                <a href="/opretIngrediens" class="LeftFrameButton">
                        <i class="fa-solid fa-leaf fa-xl" style="color: #87CC83;"></i>
                        <div class="LeftFrameText">Tilføj ny ingrediens</div>
                </a>
            
                <a href="/recipeShowcase" class="LeftFrameButton">
                    <i class="fa-solid fa-trash-can fa-xl" style="color: #87CC83;"></i>
                    <div class="LeftFrameText">Gamle opskrifter</div>
                </a>
          
                <a href="/aktiveOpskrifter" class="LeftFrameButton">
                    <i class="fa-solid fa-clock fa-xl" style="color: #87CC83;"></i>
                    <div class="LeftFrameText">Aktive opskrifter</div>
                </a>
    
                <a href="/logout" class="LeftFrameButton">
                    <i class="fa-solid fa-right-from-bracket fa-xl" style="color: #87CC83;"></i>
                    <div class="LeftFrameText">Logout</div>
                </a>
        </div>
        <div class="Rightframe">
            <div class="Recipeheaderframe">
                <h2>OPRET EN NY OPSKRIFT!</h2>
            </div>
            <form id="recipeInputForm" action="#" th:action="@{/admin}" th:object="${recipe}" method="post" enctype="multipart/form-data">
                <div class="FormInput">
                    <div class="RowFrame">
                        <label for="title" class="OpskriftNavntext">Opskrift navn</label>
                        <input type="text" id="title" th:field="*{title}" class="recipe-input" placeholder="Opskrift navn">
                    </div>
                    <div class="RowFrame">
                        <label for="prepTime" class="Tilberedningstidtext">Tilberedningstid</label>
                        <input type="text" id="prepTime" th:field="*{prepTime}" class="prep-time-input" placeholder="Tilberedningstid">
                    </div>
                    <div class="RowFrame">
                        <label for="timeOfDaySelect" id="timeofDayText" class="Tidspunkt">Tidspunkt</label>
                        <select id="timeOfDaySelect" name="timeOfDaySelect" th:field="*{timeOfDay}">
                            <option value="Breakfast">Morgenmad</option>
                            <option value="Lunch">Middagsmad</option>
                            <option value="Dinner">Aftensmad</option>
                        </select>
                        
                    </div>
                    <div class="RowFrame">
                    <label for="daySelect" id="dayText" class="Tidspunkt">Dag</label>
                        <select id="daySelect" name="daySelect" th:field="*{day}">
                            <option value="Monday">Mandag</option>
                            <option value="Tuesday">Tirsdag</option>
                            <option value="Wednesday">Onsdag</option>
                            <option value="Thursday">Torsdag</option>
                            <option value="Friday">Fredag</option>
                            <option value="Saturday">Lørdag</option>
                            <option value="Sunday">Søndag</option>
                        </select>
                    
                </div>
                    <div class="RowFrame">
                        <label for="instructions" class="Instruktioner">Instruktioner</label>
                        <textarea id="instructions" th:field="*{instructions}" class="instructions-input" placeholder="Instruktioner"></textarea>
                    </div>
                    <div class="RowFrame">
                        <label for="file" class="Recipepicturetext">Tilføj et billede til opskriften</label>
                        <input type="file" id="file" name="file" accept="image/*">
                    </div>

                        <h2>TILFØJ INGREDIENS LISTE</h2>
                    <div class="RowFrame">
                        <label  class="Ingrediens">Ingredienser</label>
                        <select id="ingredientSelect">
                            <option th:each="ingredient : ${ingredients}"
                                    th:value="${ingredient.ingredientID}"
                                    th:text="${ingredient.name}">Ingredient Name</option>
                        </select>
                    </div>
                    <div class="RowFrame">
                        <label for="ingredientWeight" class="Vægt">Vægt</label>
                        <input type="number" id="ingredientWeight" name="ingredientWeight" min="1" placeholder="Vægt i gram" class="weight-input">
                    </div>
                        
                            
                     
                        <div th:if="${errorMessage} or ${successMessage}" class="message">
                            <p th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></p>
                            <p th:if="${successMessage}" th:text="${successMessage}" class="success-message"></p>
                        </div>
                        
                        <form id="recipeForm" th:action="@{/admin}" method="post">
                            <ul id="ingredientList"></ul>
                           <div class="RowFrame">
                                <div class="DefaultButton" type="button" onclick="addIngredientToList()">Tilføj Ingrediens</div>
                        
                                <button class="DefaultButton" type="submit">Opret Opskrift</button>
                            </div>
                        </form>
                    
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/JS/ingredientList.js" defer></script>
</body>
</html>
