<!DOCTYPE html>
<html class="Head" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/CSS/editUser.css">
    <link rel="stylesheet" type="text/css" href="/CSS/default.css">
</head>
<div th:insert="~{layout :: header}"></div>
<div class="Background">

    <div class="Left">
        <div class="Left1">

        </div>

        <div class="Left2">
            <a class="Button" th:href="@{/afmeldAbonnement/{userID}(userID = ${user.userId})}" onclick='return confirm("Er du sikker på at du vil afmelde dit abonnement?")' >
                <div > Afmeld abonnement </div>
            </a>
            <div th:if="${errorMessage} or ${successMessage}" class="message">
                <p th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></p>
                <p th:if="${successMessage}" th:text="${successMessage}" class="success-message"></p>
            </div>
            <a href="/velkommen" class="Button">
                <div > Back</div>
            </a>

        </div>
    </div>

    <div class="Right">
        <form class="Form" action="#" th:action="@{/opdaterBruger}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{userId}" class="Input">

            <div class="userFirstName">Nyt Fornavn:</div>
            <input type="text" id="userFirstName" th:value="firstName" th:field="*{firstName}" class="Input" required>
            <div class="userLastName">Nyt Efternavn:</div>
            <input type="text" id="userLastName" th:value="lastName" th:field="*{lastName}" class="Input" required>
            <div class="email">Ny email:</div>
            <input type="text" id="email" th:value="email" th:field="*{email}" class="Input" required>
            <div class="password">Nyt password:</div>
            <input type="password" id="password" th:field="*{password}" class="Input" required>
            <div class="genderDropdown">Køn</div>
            <select id="genderDropdown" name="genderSelect" th:field="*{gender}" class="Input">
                <option value="M">Mand</option>
                <option value="F">Kvinde</option>
            </select>
            <div class="height">Ny Højde:</div>
            <input type="number" id="height" th:value="height" th:field="*{height}" class="Input" required>
            <div class="weight">Ny Vægt:</div>
            <input type="number" id="weight" th:value="weight" th:field="*{weight}" class="Input" required>
            <div class="age">Ny Alder:</div>
            <input type="number" id="age" th:value="age" th:field="*{age}" class="Input" required>
            <div class="userGoal">Nyt Mål:</div>
            <label for="goalDropdown"> </label>
            <select id="goalDropdown" name="activitySelect" th:field="*{goal}" class="Input" required>
                <option value="Build muscle">Opbyg muskler</option>
                <option value="Loose weight">Tab vægt</option>
                <option value="Increase weight">Øg din vægt</option>
                <option value="Maintain weight">Hold vægten</option>
            </select>
            <div class="userActivityLevel">Nyt Aktivitetsniveau:</div>
            <label for="activityDropdown"></label>
                <select id="activityDropdown" name="activitySelect" th:field="*{activityLevel}" class="Input" required>
                    <option value="No exercise">Ingen- eller meget lavt aktivitet</option>
                    <option value="Light activity">1-2 gange aktivitet om ugen</option>
                    <option value="Average activity">3-5 gange aktivitet om ugen</option>
                    <option value="Intense activity">6-7 gange aktivitet om ugen</option>
                    <option value="Extreme activity">1-2 gange aktivitet om dagen</option>
                </select>
            <div class="updateButton">
                <button class="Input" type="submit">Opdater information</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>