<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/adminPage.css">
    <title>Opdater Opskrift</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
</head>
<body>
<form action="/opdaterOpskrift" th:action="@{/opdaterOpskrift}" th:object="${recipe}" method="post">
    <input type="hidden" th:field="*{recipeID}" />
    <input type="hidden" th:field="*{active}" />
    <input type="hidden" th:field="*{image.imageID}" />

    <!-- Opskrift informationer -->
    <div class="Recipeinputframe">
        <div class="Recipenameframe">
            <label for="title" class="OpskriftNavntext">Opskrift navn</label>
            <input type="text" id="title" th:field="*{title}" class="recipe-input" placeholder="Opskrift navn">
        </div>
        <div class="Preptimeframe">
            <label for="prepTime" class="Tilberedningstidtext">Tilberedningstid</label>
            <input type="text" id="prepTime" th:field="*{prepTime}" class="prep-time-input" placeholder="Tilberedningstid">
        </div>
        <div class="Timeofdayframe">
            <label for="timeOfDay" class="Tidspunkttext">Tidspunkt</label>
            <input type="text" id="timeOfDay" th:field="*{timeOfDay}" class="time-of-day-input" placeholder="Tidspunkt">
        </div>
        <div class="Instructionframe">
            <label for="instructions" class="Instruktioner">Instruktioner</label>
            <textarea id="instructions" th:field="*{instructions}" class="instructions-input" placeholder="Instruktioner"></textarea>
        </div>

        <!-- Ingrediens liste -->

        <ul class="ingredientList" id="ingredientList">
            <li th:each="ingredient : ${recipe.ingredientList}">
               <span th:text="${ingredient.name}"></span>
                <input type="hidden" th:value="${ingredient.ingredientID}" name="ingredientIds" />
                <input type="number" th:value="${#numbers.formatDecimal(ingredient.weightGrams, 0, 0)}" name="weights" step="1" />
                <button type="button" onclick="removeIngredientFromList(this.parentElement)">Fjern</button>
            </li>
        </ul>

        <!-- Ingrediens liste select -->
        <h2>OPDATER INGREDIENS LISTE</h2>
        <div class="RowFrame">
            <label  class="Ingrediens">Ingredienser</label>
            <select id="ingredientSelect">
                <option th:each="ingredient : ${allIngredients}"
                        th:value="${ingredient.ingredientID}"
                        th:text="${ingredient.name}"></option>
            </select>
        </div>
        <!-- Ingrediens vægt input -->
        <label for="ingredientWeight" class="Vægt">Vægt</label>
        <input type="number" id="ingredientWeight" name="ingredientWeight" min="1" placeholder="Vægt i gram" class="weight-input">
        <button class="DefaultButton2" type="button" onclick="addIngredientToList()">Tilføj Ingrediens</button>

    <!-- Opdater opskrift knap -->
        <div class="RowFrame">
            <div class="sticky-button">
                <button class="DefaultButton" type="submit">Opdater Opskrift</button>
            </div>
        </div>

        <!-- Beskeder -->
        <div th:if="${errorMessage} or ${successMessage}" class="message">
            <p th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></p>
            <p th:if="${successMessage}" th:text="${successMessage}" class="success-message"></p>
        </div>
    </div>
</form>
<script src="/JS/updateRecipeIngredients.js" defer></script>
</body>
</html>