<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/CSS/index.css">
</head>
<body>
<div class="Loginside" style="width: 1280px; height: 832px; padding: 10px; background: white; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div class="Uibackground" style="width: 1206px; height: 780px; padding: 10px; background: #FAFFFA; border-radius: 20px; overflow: hidden; justify-content: flex-end; align-items: center; display: flex">
        <div class="Leftbox" style="flex: 1 1 0; align-self: stretch; padding: 10px; background: #EFF9F0; border-top-left-radius: 20px; border-top-right-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <img class="Logo" style="width: 106px; height: 123px" src="https://via.placeholder.com/106x123" />
            <div class="Header" style="width: 574px; height: 143px; color: black; font-size: 50px; font-family: Inter; font-weight: 700; word-wrap: break-word">Din billige vej til en skræddersyet kostplan</div>
            <img class="Img" style="width: 517px; height: 342px" src="https://via.placeholder.com/517x342" />
        </div>
        <div class="Rightbox" style="flex: 1 1 0; align-self: stretch; padding: 10px; background: #FAFAFA; border-top-left-radius: 20px; border-top-right-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div class="MinkostplanCom" style="color: #79D779; font-size: 30px; font-family: Inter; font-weight: 700; word-wrap: break-word">MINKOSTPLAN.COM</div>
            <div class="Emaillabel" style="color: black; font-size: 30px; font-family: Inter; font-weight: 500; word-wrap: break-word">Email</div>
            <div class="Passwordlabel" style="color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">Kodeord</div>
            <div class="Forgotbutton" style="text-align: right; color: rgba(121, 215, 121, 0.70); font-size: 20px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Glemt kodeord?</div>
            <div class="Loginbutton" style="width: 349px; height: 64px; padding-left: 82px; padding-right: 82px; padding-top: 2px; padding-bottom: 2px; background: #263136; border-radius: 20px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                <div class="Loginlabel" style="color: white; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">LOG IN</div>
            </div>
            <div class="Divider" style="color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">-------  ELLER -------</div>
            <div class="Createaccountlabel" style="width: 250px"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Er du ny? </span><span style="color: rgba(121, 215, 121, 0.70); font-size: 20px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Opret en bruger</span></div>
        </div>
    </div>
</div>
</body>
</html>


