<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/Index.css">
    <link rel="stylesheet" type="text/css" href="/CSS/default.css">
    <title>Forside</title>
    <link rel="icon" href="Images/PNGS/minkostplan-logo-white.png" type="image/icon type">
    <script src="https://kit.fontawesome.com/c0582023bf.js" crossorigin="anonymous"></script>
    <Script>
        import { FaArrowDown } from "react-icons/fa6";
    </Script>
</head>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">

<body>
    <div class="Navbar greenTransparent">
        <div class="Header">
            <a href="/">
                <img class="Logo" src="Images/PNGS/minkostplan-logo-white.png" />
            </a>
            <ul class="headerLinks">
                <li>
                    <a href="/login">Kostplan</a>
                </li>
                <li>
                    <a href="/omOs">Om os</a>
                </li>
                <li>
                    <a href="/kontakt">Kontakt</a>
                </li>   
            </ul>
        </div>
    
        <div class="Header2">
            <a class="Button green" href="/login">
                <i class="fa-solid fa-plate-wheat" style="color: #ffffff;"></i>
                <div  class="ButtonText">LOGIN</div>
        </a>
        </div>
    </div>
    <section class="VideoBackground">
        <div class="container-fluid">
            <div class="row">
                <div class="column">
                    <h1 class="forsideH1">MINKOSTPLAN</h1>
                    <div class="headerPText"> Få ugentlige kostplaner, skræddersyet til dine mål i de første 30 dage til 0 kr,
                        helt uden binding. Herefter kun <span style="text-decoration: underline;">196 kr. om måneden.</span></div>
                    
                    <a href="/opretBruger" class="Button green" style="margin-left: 20px;">
                        <div class="ButtonText">KOM I GANG</div>
                        <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
                    </a>
                </div>
            </div>
            <div class="background">
                <div class="videoWrapper">
                    <video class="data" autoplay="autoplay" muted="muted" playsinline loop="loop">
                        <source src="Images/Videos/Food.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="backgroundOverlay"></div>
        </div>
    </section>
    <section class="Preview">

        <div class="h2text">
            <h2>21 SKRÆDDERSYET RETTER TIL DIG HVER UGE</h2>
        </div>
        <div class="Mealshowcase">

            <div class="Frame">
                <img class="Yoghurt" src="Images/PNGS/vicky-ng-yIh0i6TYGrs-unsplash-removebg-preview (1).png" />
                <h2 class="YoghurtText">Yoghurt frugtskål</h2>
                <p>Start din dag med en lækker yoghurt-frugtskål, fyldt med friske, farverige frugter og cremet yoghurt - en sund, smagfuld nydelse!</p>
            </div>
            <div class="Frame">
                <img class="CaesarSalad" src="Images/PNGS/caesar salad.png" />
                <h2 class="CaesarSaladText">Caesar salad</h2>
                <p>Nyd en klassisk Caesar-salat med sprød romaine, cremet dressing og knasende croutons - en tidløs favorit, der aldrig skuffer!</p>
            </div>
            <div class="Frame">
                <img class="Salmonbowl" src="Images/PNGS/ella-olsson-KPDbRyFOTnE-unsplash-removebg-preview.png" />
                <h2 class="salmonText">Laks</h2>
                <p>Nyd en klassisk Caesar-salat med sprød romaine, cremet dressing og knasende croutons - en tidløs favorit, der aldrig skuffer!</p>
            </div>
        </div>
    </section>
</body>
</html>