<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/Index.css">
    <title>Forside</title>
    <script src="https://kit.fontawesome.com/c0582023bf.js" crossorigin="anonymous"></script>
    <Script>
        import { FaArrowDown } from "react-icons/fa6";
    </Script>
</head>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
<div class="Navbar">
    <div class="Header">
        <img class="Logo" src="Images/PNGS/minkostplan-logo.png" />
        <div class="MinProfil"></div>
        <div class="Homeframe">
            <div class="Hometext">Home</div>
        </div>
        <div class="Mealplan">
            <div class="Mealplantext">Om os</div>
        </div>
    </div>

    <div class="Header2">
        <div class="Button">
            <i class="fa-solid fa-plate-wheat" style="color: #ffffff;"></i>
            <a href="/login" class="KomIgang">LOGIN</a>
        </div>
    </div>
</div>
<body>
    <div class="Mainframe">
        <div class="Middleframe">
            <div class="Leftframe">
                <div class="SundeMadretterAlleUgensDage">Sunde madretter alle ugens dage!<br/><br/></div>
                <div class="FDinHeltEgenSkrDdersyetKostplanForKun49krOmUgenFDeFRste30DageHeltGratis">Få din helt egen skræddersyet kostplan for kun 49kr om ugen! Få de første 30 dage helt gratis!</div>
                <div class="Button">
                    <a href="/opretBruger" class="KomIgang">KOM I GANG</a>
                    <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
                </div>
            </div>
            <img class="Foodbowl1" src="Images/PNGS/foodbowl.png" />
        </div>
    
        <i class="fa-solid fa-arrow-down fa-2xl"></i>

        <div class="h2text">
            <h2>21 SKRÆDDERSYET RETTER TIL DIG HVER UGE</h2>
        </div>
        <div class="Mealshowcase">

            <div class="Frame3">
                <img class="Yoghurt" src="Images/PNGS/vicky-ng-yIh0i6TYGrs-unsplash-removebg-preview (1).png" />
                <h2 class="YoghurtText">Yoghurt frugtskål</h2>
                <p>Start din dag med en lækker yoghurt-frugtskål, fyldt med friske, farverige frugter og cremet yoghurt - en sund, smagfuld nydelse!</p>

            </div>
            <div class="Frame4">
                <img class="CaesarSalad" src="Images/PNGS/caesar salad.png" />
                <h2 class="CaesarSaladText">Caesar salad</h2>
                <p>Nyd en klassisk Caesar-salat med sprød romaine, cremet dressing og knasende croutons - en tidløs favorit, der aldrig skuffer!</p>
            </div>
            <div class="Frame2">
                <img class="Salmonbowl" src="Images/PNGS/ella-olsson-KPDbRyFOTnE-unsplash-removebg-preview.png" />
                <h2 class="salmonText">Laks</h2>
                <p>Nyd en klassisk Caesar-salat med sprød romaine, cremet dressing og knasende croutons - en tidløs favorit, der aldrig skuffer!</p>
            </div>
        </div>
    </div>
</body>
</html>