<div th:fragment="header">
    <!-- Paste the provided HTML code here -->
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://kit.fontawesome.com/c0582023bf.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div class="Navbar green">
            <div class="Header">
                <a href="/">
                    <img class="Logo" th:src="@{/Images/PNGS/minkostplan-logo-white.png}" alt="Logo" />
                </a>
                <ul class="headerLinks">
                    <li>
                        <a href="/velkommen ">Kostplan</a>
                    </li>
                    <li>
                        <a href="/omOs">Om os</a>
                    </li>
                    <li>
                        <a href="/kontakt">Kontakt</a>
                    </li>   
                </ul>
            </div>
        
            <div class="Header2">
                <div class="Profiledropdown profile action" onclick="menuToggle();">
                    <img class="Profileimage" src="https://via.placeholder.com/59x52" />
                    <div class="Name"><span style="color: white;" th:text="${user.firstName}">User</span></div>
                    <i class="fa-solid fa-sort-down" style="color: #ffffff;"></i>
                
                <div class="menu">
                    <ul>
                        <a href="/minProfil">
                            <li>
                                <i class="fa-solid fa-user" style="color: #87cc83;"></i>
                                <a href="/minProfil">Min Profil</a>
                            </li>
                        </a>

                        <a th:href="@{/opdaterBruger}">
                            <li>
                                <i class="fa-solid fa-pen" style="color: #87cc83;"></i>
                                <a th:href="@{/opdaterBruger}">Rediger Profil</a>
                            </li>
                        </a>

                        <a href="/logout">
                            <li>
                                <i class="fa-solid fa-arrow-right-from-bracket" style="color: #87cc83;"></i>
                                <a href="/logout">Log ud</a>
                            </li>
                        </a>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </body>
    </html>


    <script>
        //DropDown
function menuToggle() {
const toggleMenu = document.querySelector(".menu");
toggleMenu.classList.toggle("active");
}
    </script>
</div>
           