<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="/CSS/LoggedIn.css">
    <title>Welcome Page</title>
    <script src="https://kit.fontawesome.com/c0582023bf.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="Welcomepage">
        <div class="Header">
            <img class="Logo" src="Images/PNGS/minkostplan-logo.png" />
            <div class="Welcometext">
                <div class="Name">Velkommen, <span th:text="${user.firstName}">User</span>!</div>
                <div class="Quote">Husk at spise din frokost idag!</div>
            </div>

            <div class="ButtonGroup">
            <div class="Activebutton">
                <div class="Activetext">MENU</div>
            </div>
            <div class="Nonselectedbutton">
                <div class="Nonselectedtext">FAVORIT</div>
            </div>
            <div class="Nonselectedbutton">
                <div class="Nonselectedtext">ALLE RETTER</div>
            </div>
            </div>
            <div class="Profiledropdown profile action" onclick="menuToggle();">
                <img class="Profileimage" src="https://via.placeholder.com/59x52" />
                <div class="Name"><span th:text="${user.firstName}">User</span></div>
                    <i class="fa-solid fa-chevron-down"></i>
            
            <div class="menu">
                <ul>
                  <li>
                    <i class="fa-solid fa-user" style="color: #87cc83;"></i><a href="#">Min Profil</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-pen" style="color: #87cc83;"></i><a href="#">Rediger Profil</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-gear" style="color: #87cc83;"></i><a href="#">Indstillinger</a>
                  </li>
                  <li th:action="@{/logout}">
                    <i class="fa-solid fa-arrow-right-from-bracket" style="color: #87cc83;"></i>
                    <a th:href="@{/logout}">Log ud</a>
                </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="Mealbody">
            <div class="Weekplan">
                <div class="Weektext">Se denne uges plan</div>
                <div class="Days">
                    <div class="Mandag" id="Mandag" onclick="changeColor('Mandag', this)">Mandag</div>
                    <div class="Tirsdag" id="Tirsdag" onclick="changeColor('Tirsdag', this)">Tirsdag</div>
                    <div class="Onsdag" id="Onsdag" onclick="changeColor('Onsdag', this)">Onsdag</div>
                    <div class="Torsdag" id="Torsdag" onclick="changeColor('Torsdag', this)">Torsdag</div>
                    <div class="Fredag" id="Fredag" onclick="changeColor('Fredag', this)">Fredag</div>
                    <div class="LRdag" id="LRdag" onclick="changeColor('LRdag', this)">Lørdag</div>
                    <div class="SNdag" id="SNdag" onclick="changeColor('SNdag', this)">Søndag</div>
                </div>


                <div class="Lines">
                    <div class="Mondayline active" id="MandagLine">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Tuesdayline" id="TirsdagLine">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Wendsdayline" id="OnsdagLine">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="ThursdayLine" id="TorsdagLine">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Fridayline" id="FredagLine">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Saturdayline" id="LRdagLine">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Sundayline" id="SNdagLine">━━━━</div>
                </div>

            </div>
            <div class="Mealdivs">
                <div class="Mealbox">
                    <div class="MealText">MORGENMAD</div>
                    <img class="Mealimage" src="https://via.placeholder.com/355x139" />
                    <div class="Mealname">BOLLER I KARRY</div>
                    <div class="Mealrow">
                        <div class="Caloriestext">100 Kalorier</div>
                        <div class="Mealbutton">
                            <div class="Mealbuttontext">SE OPSKRIFT</div>
                        </div>
                    </div>
                </div>
                <div class="Mealbox">
                    <div class="Mealname">MIDDAGSMAD</div>
                    <img class="Mealimage" src="https://via.placeholder.com/355x139" />
                    <div class="Mealname">BOLLER I KARRY</div>
                    <div class="Mealrow">
                        <div class="Caloriestext">100 Kalorier</div>
                        <div class="Mealbutton">
                            <div class="Mealbuttontext">SE OPSKRIFT</div>
                        </div>
                    </div>
                </div>
                <div class="Mealbox">
                    <div class="Mealname">AFTENSMAD</div>
                    <img class="Mealimage" src="https://via.placeholder.com/355x139" />
                    <div class="Mealname">BOLLER I KARRY</div>
                    <div class="Mealrow">
                        <div class="Caloriestext">100 Kalorier</div>
                        <div class="Mealbutton">
                            <div class="Mealbuttontext">SE OPSKRIFT</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
function changeColor(day, element) {
    var lineElement = document.getElementById(day + "Line");
    var allLines = document.querySelectorAll('.Lines > div');
    var allDays = document.querySelectorAll('.Days > div');

    // Remove any previously added 'active' class from all lines and days
    allLines.forEach(function(line) {
        line.classList.remove("active");
    });

    allDays.forEach(function(dayElement) {
        dayElement.classList.remove("Selected");
        dayElement.classList.add("Unselected");
    });

    // Add the 'active' class to the corresponding line
    lineElement.classList.add("active");

    // Toggle the text color of the selected day
    element.classList.remove("Unselected");
    element.classList.add("Selected");
}

//DropDown
function menuToggle() {
        const toggleMenu = document.querySelector(".menu");
        toggleMenu.classList.toggle("active");
      }


</script>
</html>
