<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/LoggedIn.css">
    <title>Welcome Page</title>
    <script src="https://kit.fontawesome.com/c0582023bf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Welcomepage">
        <div class="Header">
            <img class="Logo" src="Images/PNGS/minkostplan-logo.png" />
            <div class="Welcometext">
                <div class="Name">Velkommen, <span th:text="${user.firstName}">User</span>!</div>
                <div class="Quote">Husk at spise din frokost idag!</div>
            </div>

            <div class="ButtonGroup">
            <div class="Activebutton">
                <div class="Activetext">MENU</div>
            </div>
            <div class="Nonselectedbutton">
                <div class="Nonselectedtext">FAVORIT</div>
            </div>
            <div class="Nonselectedbutton">
                <div class="Nonselectedtext">ALLE RETTER</div>
            </div>
            </div>
            <div class="Profiledropdown profile action" onclick="menuToggle();">
                <img class="Profileimage" src="https://via.placeholder.com/59x52" />
                <div class="Name"><span th:text="${user.firstName}">User</span></div>
                    <i class="fa-solid fa-chevron-down"></i>
            
            <div class="menu">
                <ul>
                  <li>
                    <i class="fa-solid fa-user" style="color: #87cc83;"></i><a href="#">Min Profil</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-pen" style="color: #87cc83;"></i><a href="#">Rediger Profil</a>
                  </li>
                  <li>
                    <i class="fa-solid fa-gear" style="color: #87cc83;"></i><a href="#">Indstillinger</a>
                  </li>
                  <li th:action="@{/logout}">
                    <i class="fa-solid fa-arrow-right-from-bracket" style="color: #87cc83;"></i>
                    <a th:href="@{/logout}">Log ud</a>
                </li>
                </ul>
              </div>
            </div>


        </div>
        <div class="Mealbody">
            <div class="Weekplan">
                <div class="Days">
                    <div class="Mandag" id="Mandag" onclick="changeColor('Mandag', this)">Mandag</div>
                    <script>
                        document.getElementById("Mandag").addEventListener("click", function() {
                            // Add the "Step2" class to the element to make it visible
                            document.querySelector(".Mealdivs").style.display = "flex";
                            document.querySelector(".Mealdivs2").style.display = "none";
                            document.querySelector(".Mealdivs3").style.display = "none";
                            document.querySelector(".Mealdivs4").style.display = "none";
                            document.querySelector(".Mealdivs5").style.display = "none";
                            document.querySelector(".Mealdivs6").style.display = "none";
                            document.querySelector(".Mealdivs7").style.display = "none";
                        });
                    </script>
                    <div class="Tirsdag" id="Tirsdag" onclick="changeColor('Tirsdag', this)">Tirsdag</div>
                    <script>
                        document.getElementById("Tirsdag").addEventListener("click", function() {
                            // Add the "Step2" class to the element to make it visible
                            document.querySelector(".Mealdivs2").style.display = "flex";
                            document.querySelector(".Mealdivs").style.display = "none";
                            document.querySelector(".Mealdivs3").style.display = "none";
                            document.querySelector(".Mealdivs4").style.display = "none";
                            document.querySelector(".Mealdivs5").style.display = "none";
                            document.querySelector(".Mealdivs6").style.display = "none";
                            document.querySelector(".Mealdivs7").style.display = "none";
                        });
                    </script>
                    <div class="Onsdag" id="Onsdag" onclick="changeColor('Onsdag', this)">Onsdag</div>
                    <script>
                        document.getElementById("Onsdag").addEventListener("click", function() {
                            // Add the "Step2" class to the element to make it visible
                            document.querySelector(".Mealdivs3").style.display = "flex";
                            document.querySelector(".Mealdivs2").style.display = "none";
                            document.querySelector(".Mealdivs").style.display = "none";
                            document.querySelector(".Mealdivs4").style.display = "none";
                            document.querySelector(".Mealdivs5").style.display = "none";
                            document.querySelector(".Mealdivs6").style.display = "none";
                            document.querySelector(".Mealdivs7").style.display = "none";
                        });
                    </script>
                    <div class="Torsdag" id="Torsdag" onclick="changeColor('Torsdag', this)">Torsdag</div>
                    <script>
                        document.getElementById("Torsdag").addEventListener("click", function() {
                            // Add the "Step2" class to the element to make it visible
                            document.querySelector(".Mealdivs4").style.display = "flex";
                            document.querySelector(".Mealdivs2").style.display = "none";
                            document.querySelector(".Mealdivs3").style.display = "none";
                            document.querySelector(".Mealdivs").style.display = "none";
                            document.querySelector(".Mealdivs5").style.display = "none";
                            document.querySelector(".Mealdivs6").style.display = "none";
                            document.querySelector(".Mealdivs7").style.display = "none";
                        });
                    </script>
                    <div class="Fredag" id="Fredag" onclick="changeColor('Fredag', this)">Fredag</div>
                    <script>
                        document.getElementById("Fredag").addEventListener("click", function() {
                            // Add the "Step2" class to the element to make it visible
                            document.querySelector(".Mealdivs5").style.display = "flex";
                            document.querySelector(".Mealdivs2").style.display = "none";
                            document.querySelector(".Mealdivs3").style.display = "none";
                            document.querySelector(".Mealdivs4").style.display = "none";
                            document.querySelector(".Mealdivs").style.display = "none";
                            document.querySelector(".Mealdivs6").style.display = "none";
                            document.querySelector(".Mealdivs7").style.display = "none";
                        });
                    </script>
                    <div class="LRdag" id="LRdag" onclick="changeColor('LRdag', this)">Lørdag</div>
                    <script>
                        document.getElementById("LRdag").addEventListener("click", function() {
                            // Add the "Step2" class to the element to make it visible
                            document.querySelector(".Mealdivs6").style.display = "flex";
                            document.querySelector(".Mealdivs2").style.display = "none";
                            document.querySelector(".Mealdivs3").style.display = "none";
                            document.querySelector(".Mealdivs4").style.display = "none";
                            document.querySelector(".Mealdivs5").style.display = "none";
                            document.querySelector(".Mealdivs").style.display = "none";
                            document.querySelector(".Mealdivs7").style.display = "none";
                        });
                    </script>
                    <div class="SNdag" id="SNdag" onclick="changeColor('SNdag', this)">Søndag</div>
                    <script>
                        document.getElementById("SNdag").addEventListener("click", function() {
                            // Add the "Step2" class to the element to make it visible
                            document.querySelector(".Mealdivs7").style.display = "flex";
                            document.querySelector(".Mealdivs2").style.display = "none";
                            document.querySelector(".Mealdivs3").style.display = "none";
                            document.querySelector(".Mealdivs4").style.display = "none";
                            document.querySelector(".Mealdivs5").style.display = "none";
                            document.querySelector(".Mealdivs6").style.display = "none";
                            document.querySelector(".Mealdivs").style.display = "none";
                        });
                    </script>
                </div>


                <div class="Lines">
                    <div class="Mondayline active" id="MandagLine">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Tuesdayline" id="TirsdagLine">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Wendsdayline" id="OnsdagLine">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="ThursdayLine" id="TorsdagLine">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Fridayline" id="FredagLine">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Saturdayline" id="LRdagLine">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Sundayline" id="SNdagLine">━━━━</div>
                </div>
            </div>


            <!-- Monday Section -->
            <div class="Mealdivs">
                <!-- Breakfast Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Monday' and recipe.timeOfDay == 'Breakfast'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Middagsmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Monday' and recipe.timeOfDay == 'Lunch'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Aftensmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Monday' and recipe.timeOfDay == 'Dinner'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tuesday Section -->
            <div class="Mealdivs2">
                <!-- Morgenmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Tuesday' and recipe.timeOfDay == 'Breakfast'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Middagsmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Tuesday' and recipe.timeOfDay == 'Lunch'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Aftensmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Tuesday' and recipe.timeOfDay == 'Dinner'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Wednesday Section -->
            <div class="Mealdivs3">
                <!-- Morgenmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Wednesday' and recipe.timeOfDay == 'Breakfast'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Middagsmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Wednesday' and recipe.timeOfDay == 'Lunch'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Aftensmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Wednesday' and recipe.timeOfDay == 'Dinner'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thursday Section -->
            <div class="Mealdivs4">
                <!-- Morgenmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Thursday' and recipe.timeOfDay == 'Breakfast'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Middagsmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Thursday' and recipe.timeOfDay == 'Lunch'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Aftensmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Thursday' and recipe.timeOfDay == 'Dinner'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Friday Section -->
            <div class="Mealdivs5">
                <!-- Morgenmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Friday' and recipe.timeOfDay == 'Breakfast'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Middagsmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Friday' and recipe.timeOfDay == 'Lunch'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Aftensmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Friday' and recipe.timeOfDay == 'Dinner'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Saturday Section -->
            <div class="Mealdivs6">
                <!-- Morgenmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Saturday' and recipe.timeOfDay == 'Breakfast'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Middagsmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Saturday' and recipe.timeOfDay == 'Lunch'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Aftensmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Saturday' and recipe.timeOfDay == 'Dinner'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sunday Section -->
            <div class="Mealdivs7">
                <!-- Morgenmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Sunday' and recipe.timeOfDay == 'Breakfast'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Middagsmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Sunday' and recipe.timeOfDay == 'Lunch'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Aftensmad Section -->
                <div class="Mealbox">
                    <div th:each="recipe : ${weeklyRecipes}" th:if="${recipe.day == 'Sunday' and recipe.timeOfDay == 'Dinner'}">
                        <img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
                        <div class="Mealname">
                            <span th:text="${recipe.title}">Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span th:text="${recipe.totalCalories}">Opskrift titel</span> Kalorier
                            </div>
                            <a th:href="@{/seOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function changeColor(day, element) {
        var lineElement = document.getElementById(day + "Line");
        var allLines = document.querySelectorAll('.Lines > div');
        var allDays = document.querySelectorAll('.Days > div');

        // Remove any previously added 'active' class from all lines and days
        allLines.forEach(function (line) {
            line.classList.remove("active");
        });

        allDays.forEach(function (dayElement) {
            dayElement.classList.remove("Selected");
            dayElement.classList.add("Unselected");
        });

        // Add the 'active' class to the corresponding line
        lineElement.classList.add("active");

        // Toggle the text color of the selected day
        element.classList.remove("Unselected");
        element.classList.add("Selected");
    }




//DropDown
function menuToggle() {
const toggleMenu = document.querySelector(".menu");
toggleMenu.classList.toggle("active");
}


</script>
</html>
