<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="/CSS/LoggedIn.css">
    <title>Welcome Page</title>
</head>
<body>
    <div class="Welcomepage">
        <div class="Header">
            <img class="Logo" src="https://via.placeholder.com/101x87" />
            <div class="Welcometext">
                <div class="Name">Velkommen, Andreas!</div>
                <div class="Quote">Husk dit spise din frokos idag!</div>
            </div>
            <div class="Activebutton">
                <div class="Activetext">MENU</div>
            </div>
            <div class="Nonselectedbutton">
                <div class="Nonselectedtext">FAVORIT</div>
            </div>
            <div class="Nonselectedbutton">
                <div class="Nonselectedtext">FAVORIT</div>
            </div>
            <div class="Profiledropdown">
                <img class="Profileimage" src="https://via.placeholder.com/59x52" />
                <div class="Name">ANDREAS</div>
                <div class="Arrow">
                    <div class="Stroke1"></div>
                </div>
            </div>
        </div>
        <div class="Mealbody">
            <div class="Weekplan">
                <div class="Weektext">Se denne uges plan</div>
                <div class="Days">
                    <div class="Mandag">Mandag</div>
                    <div class="Tirsdag">Tirsdag</div>
                    <div class="Onsdag">Onsdag</div>
                    <div class="Torsdag">Torsdag</div>
                    <div class="Fredag">Fredag</div>
                    <div class="LRdag">Lørdag</div>
                    <div class="SNdag">Søndag</div>
                </div>
                <div class="Lines">
                    <div class="Mondayline">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Tuesdayline">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Wendsdayline">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Tuesdayline">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Fridayline">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Saturdayline">━━━━</div>
                    <div class="Dividerline">━</div>
                    <div class="Sundayline">━━━━</div>
                </div>
            </div>
            <div class="Mealdivs">
                <div class="Mealbox">
                    <img class="Mealimage" src="https://via.placeholder.com/355x139" />
                    <div class="Mealname">BOLLER I KARRY</div>
                    <div class="Mealrow">
                        <div class="Caloriestext">100 Kalorier</div>
                        <div class="Mealbutton">
                            <div class="Mealbuttontext">SE OPSKRIFT</div>
                        </div>
                    </div>
                </div>
                <div class="Mealbox">
                    <img class="Mealimage" src="https://via.placeholder.com/355x139" />
                    <div class="Mealname">BOLLER I KARRY</div>
                    <div class="Mealrow">
                        <div class="Caloriestext">100 Kalorier</div>
                        <div class="Mealbutton">
                            <div class="Mealbuttontext">SE OPSKRIFT</div>
                        </div>
                    </div>
                </div>
                <div class="Mealbox">
                    <img class="Mealimage" src="https://via.placeholder.com/355x139" />
                    <div class="Mealname">BOLLER I KARRY</div>
                    <div class="Mealrow">
                        <div class="Caloriestext">100 Kalorier</div>
                        <div class="Mealbutton">
                            <div class="Mealbuttontext">SE OPSKRIFT</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
