<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/CSS/Login.css">
</head>
<body>
<div class="Loginside">
    <div class="Uibackground">
        <div class="Leftbox">
            <img class="Logo" src="https://via.placeholder.com/106x123" />
            <div class="Header">Din billige vej til en skræddersyet kostplan</div>
            <img class="Img" src="https://via.placeholder.com/517x342" />
        </div>
        <div class="Rightbox">
            <div class="MinkostplanCom">MINKOSTPLAN.COM</div>
            <div class="Emaillabel">Email</div>
            <div class="Passwordlabel">Kodeord</div>
            <div class="Forgotbutton">Glemt kodeord?</div>
            <div class="Loginbutton">
                <div class="Loginlabel">LOG IN</div>
            </div>
            <div class="Divider">-------  ELLER -------</div>
            <div class="Createaccountlabel">
                <span>Er du ny? </span><span>Opret en bruger</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>


