<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/LoggedIn.css">
    <link rel="stylesheet" type="text/css" href="/CSS/default.css">
    <title>Welcome Page</title>
    <script src="https://kit.fontawesome.com/c0582023bf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="nomemberbox">
            <img src="images/Svgs/Warning.svg" alt="">
            <div class="nomembertext">Du er ikke medlem!</div>
            <div class="nomemberp">Det ser ud til, at den bruger, du er logget ind med, ikke har et aktivt medlemskab.</div>
            <a th:href="@{paymentSite}">
                <div class="nomemberbutton">
                    <div class="nomemberlabel">KØB MEDLEMSSKAB</div>
                </div>
            </a>
        </div>
    </div>






    <div class="Welcomepage">
        <div class="Navbar green">
            <div class="Header">
                <a href="/">
                    <img class="Logo" src="Images/PNGS/minkostplan-logo-white.png" />
                </a>
                <ul class="headerLinks">
                    <li>
                        <a href="/velkommen ">Kostplan</a>
                    </li>
                    <li>
                        <a href="/omOs">Om os</a>
                    </li>
                    <li>
                        <a href="/kontakt">Kontakt</a>
                    </li>   
                </ul>
            </div>
        
            <div class="Header2">
                <div class="Profiledropdown profile action" onclick="menuToggle();">
                    <img class="Profileimage" src="https://via.placeholder.com/59x52" />
                    <div class="Name"><span style="color: white;" th:text="${user.firstName}">User</span></div>
                    <i class="fa-solid fa-sort-down" style="color: #ffffff;"></i>
                
                <div class="menu">
                    <ul>
                      <li>
                        <i class="fa-solid fa-user" style="color: #87cc83;"></i><a href="/minProfil">Min Profil</a>
                      </li>
                      <li>
                        <i class="fa-solid fa-pen" style="color: #87cc83;"></i>
                          <a th:href="@{/opdaterBruger/{userID}(userID=${user.userId})}">Rediger Profil</a>
                      </li>
                      <li th:action="@{/logout}">
                        <i class="fa-solid fa-arrow-right-from-bracket" style="color: #87cc83;"></i>
                        <a th:href="@{/logout}">Log ud</a>
                    </li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
        <div class="Mealbody">
            <div class="Weekplan">
                <div class="Days">
                    <div class="Mandag" id="Breakfast" onclick="changeColor('Breakfast', this)">Morgenmad</div>
                    <script>
                        document.getElementById("Breakfast").addEventListener("click", function() {
                            // Add the "Step2" class to the element to make it visible
                            document.querySelector(".Mealdivs").style.display = "flex";
                            document.querySelector(".Mealdivs2").style.display = "none";
                            document.querySelector(".Mealdivs3").style.display = "none";
                        });
                    </script>
                    <div class="Tirsdag" id="Lunch" onclick="changeColor('Lunch', this)">Frokost</div>
                    <script>
                        document.getElementById("Lunch").addEventListener("click", function() {
                            // Add the "Step2" class to the element to make it visible
                            document.querySelector(".Mealdivs2").style.display = "flex";
                            document.querySelector(".Mealdivs").style.display = "none";
                            document.querySelector(".Mealdivs3").style.display = "none";
                        });
                    </script>
                    <div class="Onsdag" id="Dinner" onclick="changeColor('Dinner', this)">Aftensmad</div>
                    <script>
                        document.getElementById("Dinner").addEventListener("click", function() {
                            // Add the "Step2" class to the element to make it visible
                            document.querySelector(".Mealdivs3").style.display = "flex";
                            document.querySelector(".Mealdivs2").style.display = "none";
                            document.querySelector(".Mealdivs").style.display = "none";
                        });
                    </script>
                   </div>


                <div class="Lines">
                    <div class="Mondayline active" id="BreakfastLine">━━━━━━</div>
                    <div class="Tuesdayline" id="LunchLine">━━━━━━</div>
                    <div class="Wendsdayline" id="DinnerLine">━━━━━━</div>
                </div>
            </div>


            <!-- Breakfast Section -->
            <div class="Mealdivs">
              
                <div class="Mealbox">
                        <img class="Mealimage" src="Images/PNGS/kenta-kikuchi-yAwKsxCHins-unsplash.jpg"/>
                        <div class="Mealname">
                            <span>Jordbær yoghurt</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span>200</span> Kalorier
                            </div>
                            <a class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                    <div class="Mealbox">
                        <img class="Mealimage" src="Images/PNGS/kenta-kikuchi-yAwKsxCHins-unsplash.jpg"/>
                        <div class="Mealname">
                            <span>Jordbær yoghurt</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span>200</span> Kalorier
                            </div>
                            <a class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                    <div class="Mealbox">
                        <img class="Mealimage" src="Images/PNGS/kenta-kikuchi-yAwKsxCHins-unsplash.jpg"/>
                        <div class="Mealname">
                            <span>Jordbær yoghurt</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span>200</span> Kalorier
                            </div>
                            <a class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>

            </div>

            <!-- Lunch Section -->
            <div class="Mealdivs2">
                <div>
                <div class="Mealbox">
                        <img class="Mealimage">
                        <div class="Mealname">
                            <span>Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span>Opskrift titel</span> Kalorier
                            </div>
                            <a class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dinner Section -->
            <div class="Mealdivs3">
                <div>
                <div class="Mealbox">
                        <img class="Mealimage" />
                        <div class="Mealname">
                            <span>Opskrift titel</span>
                        </div>
                        <div class="Mealrow">
                            <div class="Caloriestext">
                                <span>Opskrift titel</span> Kalorier
                            </div>
                            <a class="Mealbutton">
                                <div  class="Mealbuttontext">SE OPSKRIFT</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
