<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/adminPage.css">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c0582023bf.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="Adminrecipepage">
    <div class="Topframe">
        <div class="Logoframe">
            <img class="Logo" src="Images/PNGS/minkostplan-logo.png" />
        </div>
            <div class="AdminSide">ADMIN SIDE</div>
        
    </div>
    <div class="Middleframe">
        <div class="Leftframe">

                <a href="/admin" class="LeftFrameButton">
                    <i class="fa-solid fa-circle-plus fa-xl" style="color: #87CC83;"></i>
                    <div class="LeftFrameText">Tilføj ny opskrift</div>
                </a>

                <a href="/opretIngrediens" class="LeftFrameButton">
                        <i class="fa-solid fa-leaf fa-xl" style="color: #87CC83;"></i>
                        <div class="LeftFrameText">Tilføj ny ingrediens</div>
                </a>
            
                <a href="/recipeShowcase" class="active LeftFrameButton">
                    <i class="fa-solid fa-trash-can fa-xl" style="color: #ffffff;"></i>
                    <div class="LeftFrameText">Gamle opskrifter</div>
                </a>
          
                <a href="/aktiveOpskrifter" class="LeftFrameButton">
                    <i class="fa-solid fa-clock fa-xl" style="color: #87CC83;"></i>
                    <div class="LeftFrameText">Aktive opskrifter</div>
                </a>
    
                <a href="/logout" class="LeftFrameButton">
                    <i class="fa-solid fa-right-from-bracket fa-xl" style="color: #87CC83;"></i>
                    <div class="LeftFrameText">Logout</div>
                </a>
        </div>
        <div class="Rightframe">
            <div class="Recipeheaderframe">
                <h2>Deaktiveret Opskrifter</h2>
            </div>
            <ul>
                <li th:each="recipe : ${recipes}" class="recipe-item">
                    <div><span th:text="${recipe.title}">Name</span></div>
                    <div><label>Calories: </label><span th:text="${recipe.totalCalories}">Calories</span></div>
                    <div><label>Protein: </label><span th:text="${recipe.totalProtein}">Protein</span></div>
                    <div><label>Fat: </label><span th:text="${recipe.totalFat}">Fat</span></div>
                    <div><label>Carbs: </label><span th:text="${recipe.totalCarbohydrates}">Carbs</span></div>
                    <div><label>Active: </label><span th:text="${recipe.active}">Active</span></div>
                    <div><label>Prep Time: </label><span th:text="${recipe.prepTime}">Prep Time</span></div>
                    <div><label>Time of Day: </label><span th:text="${recipe.timeOfDay}">Time of Day</span></div>
                    <div class="EditRecipeInfo"><a th:href="@{/opdaterOpskrift/{recipeID}(recipeID=${recipe.recipeID})}">Edit</a></div>
                    <div class="DeleteRecipe"><a th:href="@{/sletOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" onclick="return confirmDelete()">Delete</a></div>
                    <div class="ActivateRecipe"><a th:href="@{/aktiverOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" onclick="return confirmChangeStatus()">Activate / Deactivate</a></div>
                </li>
            </ul>
            <div th:if="${errorMessage} or ${successMessage}" class="message">
                <p th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></p>
                <p th:if="${successMessage}" th:text="${successMessage}" class="success-message"></p>
            </div>
            <script>
                function confirmDelete() {
                    return confirm("Are you sure you want to delete this recipe?");
                }
                function confirmChangeStatus() {
                    return confirm("Are you sure you want to change the status of this recipe?");
                }
            </script>
        </div>
    </div>
</div>
<script src="/JS/ingredientList.js" defer></script>
</body>
</html>
