<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" type="text/css" href="/CSS/PaymentSite.css">
    <link rel="stylesheet" type="text/css" href="/CSS/default.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
    </style>
      <script src="https://kit.fontawesome.com/c0582023bf.js" crossorigin="anonymous"></script>
</head>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
<body>
    <div class="PaymentBox"> 
    <form class="Form" >
        <div class="classinput">
            <div class="Row">
                <div class="Col">
                    <label for="" class="Label">FORNAVN</label>
                    <input class="Input" placeholder="Dit Fornavn" type="text">
                </div>
                <div class="Col">
                    <label for="" class="Label" >EFTERNAVN</label>
                    <input class="Input" placeholder="Dit efternavn" type="text">
                </div>
            </div>
            <div class="Col">
                <label for="" class="Label" >KORTNUMMER</label>
                <input class="Input" placeholder="0000 0000 0000 0000" type="text">
            </div>
           
    
            <div class="Row">
                <div class="Col">
                    <label for="" class="Label" >UDLØBSDATO</label>
                    <input class="Input" type="month" placeholder="mm/åå">
                </div>
                <div class="Col">
                    <label for="" class="Label" >CVV/CVC</label>
                    <input class="Input" type="text" placeholder="***">  
                </div>
            </div>
        </div>
    </form>
        <form th:action="@{/payingUser}" method="post">
            <button type="submit" class="KomIgang">BETAL</button>
            <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
        </form>
        <div th:if="${errorMessage} or ${successMessage}" class="message">
            <p th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></p>
            <p th:if="${successMessage}" th:text="${successMessage}" class="success-message"></p>
        </div>
</div>
</body>
</html>
