<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opskrifter</title>
    <link rel="stylesheet" href="">
</head>
<body>
<h1>Item List</h1>
<ul>
    <li th:each="recipe : ${recipes}">
        <div><span th:text="${recipe.title}">Name</span></div>
        <span th:text="${recipe.totalCalories}">Calories</span>
        <span th:text="${recipe.totalProtein}">Protein</span>
        <span th:text="${recipe.totalFat}">Fat</span>
        <span th:text="${recipe.totalCarbohydrates}">Carbs</span>
        <span class="EditUserInfo"><a th:href="@{/editRecipe/{recipeID}(recipeID=${recipe.recipeID})}">Edit</a></span>
        <span class="DeleteRecipe"><a th:href="@{/sletOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" onclick="return confirmDelete()">Delete</a></span>
        <span class="ActivateRecipe"><a th:href="@{/aktiverOpskrift/{recipeID}(recipeID=${recipe.recipeID})}" onclick="return confirmChangeStatus()">Aktiver / Deaktiver</a></span>

    </li>
</ul>
<div th:if="${errorMessage} or ${successMessage}" class="message">
    <p th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></p>
    <p th:if="${successMessage}" th:text="${successMessage}" class="success-message"></p>
</div>
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this recipe?");
    }
</script>
<script>
    function confirmChangeStatus() {
        return confirm("Are you sure you want to change this recipe to active?");
    }
</script>
</body>
</html>