
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Page</title>
  <link rel="icon" href="Images/PNGS/minkostplan-logo-white.png" type="image/icon type">
  <link rel="stylesheet" type="text/css" href="/CSS/showRecipe.css">
  <link rel="stylesheet" type="text/css" href="/CSS/default.css">
  <script src="https://kit.fontawesome.com/c0582023bf.js" crossorigin="anonymous"></script>
  <Script>
      import { FaArrowDown } from "react-icons/fa6";
  </Script>
  
</head>

<body>
<div th:insert="~{layout :: header}"></div>


  <div class="MacbookAir1">
    <div class="Leftbox">
        <img class="Image" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
      <h2>INGREDIENS LISTE</h2>
        <div class="IngredientCol" id="Ingredientbox">
            <li  th:each="ingredient : ${recipe.ingredientList}">
                <div class="Ingredientbutton" th:text="${ingredient.name + ' - ' + ingredient.weightGrams + ' grams'}"></div>
            </li>
        </div>
    </div>
    <div class="Righbox">
      <div class="Recipename"><span th:text="${recipe.title}">Time of Day</span></div>
      <div class="Buttonbox">
        <div class="Button green">
          <div class="ButtonText"><span th:text="${recipe.timeOfDay}">Calories</span></div>
        </div>
        <div class="ButtonStroke">
          <div class="ButtonText">FAVORIT RET</div>
        </div>
      </div>
      <div class="Title">Nærings indhold pr. servering</div>
      <div class="Neutritionrow">
        <div class="Neutritionbox">
          <div class="Numberbox">
            <div class="Numbertext"><span th:text="${recipe.totalCalories}">Carbs</span></div>
          </div>
          <div class="Labeltext">KALORIER</div>
        </div>
        <div class="Neutritionbox">
          <div class="Numberbox">
            <div class="Numbertext"><span th:text="${recipe.totalProtein}">Carbs</span></div>
          </div>
          <div class="Labeltext">PROTEIN</div>
        </div>
        <div class="Neutritionbox">
          <div class="Numberbox">
            <div class="Numbertext"><span th:text="${recipe.totalFat}">Carbs</span></div>
          </div>
          <div class="Labeltext">FEDT</div>
        </div>
        <div class="Neutritionbox">
          <div class="Numberbox">
            <div class="Numbertext"><span th:text="${recipe.totalCarbohydrates}">Carbs</span></div>
          </div>
          <div class="Labeltext">KULHYDRATER</div>
        </div>
      </div>
      <div class="Tilte">Instruktioner</div>
      <div><span th:text="${recipe.instructions}">Time of Day</span></div>
    </div>
  </div>
</body>

<script>
  //DropDown
function menuToggle() {
const toggleMenu = document.querySelector(".menu");
toggleMenu.classList.toggle("active");
}


</script>
</html>