<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/adminPage.css">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c0582023bf.js" crossorigin="anonymous"></script>
</head>
<body>
<img class="Mealimage" th:src="'data:' + ${recipe.image.imageType} + ';base64,' + ${recipe.image.base64Image}" alt="Meal Image" />
<div><label>Titel: </label><span th:text="${recipe.title}">Time of Day</span></div>
<div><label>Tidspunkt: </label><span th:text="${recipe.timeOfDay}">Calories</span></div>
<div><label>Tilberedningstid: </label><span th:text="${recipe.prepTime}">Protein</span></div>
<div><label>Totale kalorier: </label><span th:text="${recipe.totalCalories}">Fat</span></div>
<div><label>Total protein: </label><span th:text="${recipe.totalProtein}">Carbs</span></div>
<div><label>Total fedt: </label><span th:text="${recipe.totalFat}">Active</span></div>
<div><label>Totale kulhydrater: </label><span th:text="${recipe.totalCarbohydrates}">Prep Time</span></div>
<div><label>Instruktioner: </label><span th:text="${recipe.instructions}">Time of Day</span></div>
<ul id="ingredientList">
    <li th:each="ingredient : ${recipe.ingredientList}">
        <span th:text="${ingredient.name + ' - ' + ingredient.weightGrams + ' grams'}"></span>
    </li>
</ul>
<li> </li>
</body>
</html>